<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kampuskoding.kampusmaterialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.button.ButtonActivity" />
        <activity android:name=".components.TextView.TextViewActivity" />
        <activity android:name=".components.card.MainCardActivity" />
        <activity android:name=".components.card.SimpleCardActivity" />
        <activity android:name=".components.card.BasicCardActivity" />
        <activity android:name=".components.card.TimelineCardActivity" />
        <activity
            android:name=".components.card.OverlapCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.card.ProfileCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".components.navigation.MainNavigationActivity" />
        <activity
            android:name=".components.navigation.SimpleNavigationDrawerActivity"
            android:label="@string/title_activity_simple_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.navigation.BasicNavigationDrawerActivity"
            android:label="@string/title_activity_basic_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".components.navigation.BasicBottombarActivity"
            android:label="@string/title_activity_basic_bottombar" />
        <activity
            android:name=".components.navigation.ShiftingBottombarActivity"
            android:label="@string/title_activity_shifting_bottombar"></activity>
    </application>

</manifest>